<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Is.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    
</head>
<body>
    
    <header>
        <h1>Electronic Health Records (EHR) </h1>
    </header>

    <div class="container" id="formContainer">
        <h2>Login</h2>
        <form id="loginForm" action="user.php" method="post">
            <label for="Email">Club Name:</label>
            <input type="email" id="Email" name="Email" required>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" required>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required>
            <button type="submit">Login</button>
        </form>

        <p id="registerLink"><a href="Register1.html">Register Now</a></p>
    </div>


    <footer>
        <p>&copy; 2023 Project</p>
    </footer>


</body>
</html>
